/*
Description: General variables to be used throughout the app.
Author: Anna Kyles
*/

// Colours
$gunmetal-grey: #1c2026;
$gunmetal-grey-light: #65757e;
$washed-green: #56655e;

// Transitions
$transition: all 0.3s ease;

// Spacing 
$spacer-small: 14px;
$spacer: 28px;
$spacer-large: 48px;