/*
Description: General styles.
Author: Anna Kyles
*/

.page {
    background-color: $gunmetal-grey;
    min-height: 100vh;
}

.spacer-small {
    padding-top: $spacer-small;
}
.spacer {
    padding-top: $spacer;
}
.spacer-large {
    padding-top: $spacer-large;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}
@media (min-width: 1566px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1506px;
    }
}
