/*
Description: General styles.
Author: Anna Kyles
*/

.page {
    background-color: $gunmetal-grey;
    min-height: 100vh;
}

.spacer-small {
    padding-top: $spacer-small;
}
.spacer {
    padding-top: $spacer;
}
.spacer-large {
    padding-top: $spacer-large;
}

